<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QrCodeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>550FA61D1BDF6B13004A2CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>550FA6361BDF6B13004A2CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>550FA6411BDF6B13004A2CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
